.selected-block {
  display: none;
}

.selected-empty {
  font-style: italic;
  color: #666;
  margin-bottom: 15px;
}



.product-section {
    padding: 30px 40px;
    background: transparent;
    margin-bottom: 18px;
  }
  
.products-grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product-card {
    display:flex;
    flex-direction:column;

    justify-content: space-between;
    min-height: 380px;

    padding: 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0,0,0,0.13));
    background: white;  
}

.product-card:hover {
    border: 2px solid;
    border-color: #9007cf;
}

.product-card img {
    width:100%;
    height: auto;
    display:block;
    border-radius: 35px;
}

.product-card .price {
    font-size: 24px;
    font-weight:700;
}


.product-card .name {
    font-size: 20px;
    line-height:1.2;
}


.product-card .weight {
    color: gray;
}

.product-card .btn {
    background:#f1eee9;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}


.product-card:hover .btn {
    background: #aaaaaa;
}


.product-card.selected {
  border: 2px solid;
  border-color: #9007cf;
}

.product-card.selected .btn {
  background: #aaaaaa;
}


.order-section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .order-title {
    font-size: 28px;
    margin-bottom: 25px;
  }
  
  .order-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  
  .order-column h3 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .order-column label {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
  }
  
  .order-column select,
  .order-column input,
  .order-column textarea {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .checkbox-label {
    display: grid;
    align-items: start;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .radio-title {
    font-size: 16px;
    margin: 20px 0 10px 0;
  }

  .radio-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .radio-row input[type="radio"] {
    margin: 10px 0;
  }
  
  

  .form-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
  }
  
  .btn-reset,
  .btn-submit {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
  }
  
  .btn-reset {
    background: #ddd;
  }
  
  .btn-submit {
    background: #9007cf;
    color: white;
  }

  .constraint {
    font-style: italic;
    font-size: 12px;
  }



@media (max-width: 800px){
    .products-grid { grid-template-columns: repeat(2,1fr); }

    nav {
        justify-content: space-between;
    }
}

@media (max-width: 600px){
    header h1 {
        text-align: center;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a { font-size: 22px; }

    .product-section h2 { text-align:center; }

    .products-grid { grid-template-columns: 1fr; }

}